.flex-container{
  display: flex;
  justify-content: center;
}

.gridlistmain {
  transform: "translateZ(0)";
}

.characters{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}



body{
  background-color: grey;
  box-sizing: border-box;
}

@media (max-width: 746px) {
  .characters {  grid-template-columns: auto;}
} 

@media only screen and (max-width: 1217px) and (min-width: 746px)  {

  .characters {  grid-template-columns: 1fr 1fr;}

}